.Card {
    font-size: 16px;
    margin: 0.6rem;
    width: calc(100%/5 - 1.25rem);

    &__box {
        display: inline-block;
        position: relative;
    }

    &__image {
        width: 100%;
        border-radius: 0.3125rem;
        box-shadow: 0 0.125rem 0.1875rem 0.125rem #ccc;
        cursor: pointer;
    }

    &__box &__name {
        color: #FFFFFF;
        font-size: 1.5rem; 
        position: absolute;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        top: 70%;
        z-index: 999; 
    }

    @media screen and (max-width: 800px) {
        font-size: 12px;
        width: calc(100%/4 - 1.25rem);
    
        &__box &__name {
            color: #FFFFFF;
            font-size: 1rem; 
        }
    }

    @media screen and (max-width: 480px) {
        font-size: 8px;
        width: calc(100%/3 - 1.25rem);
    
        &__box &__name {
            color: #FFFFFF;
            font-size: 1rem; 
        }
    }
}