.App {
    text-align: center;

    @media screen and (max-width: 1200px) {
        // font-size: 14px;
    }

    @media screen and (max-width: 800px) {
        font-size: 14px;
    }

    button {
        background-color: #316bd3;
        border: 2px solid #316bd3;
        border-radius: 0.5rem;
        box-shadow: none;
        color: #FFFFFF;
        cursor: pointer;
        font-family: "Lato", sans-serif;
        font-size: 1rem;
        padding: 1rem 3rem;
        margin: 2rem;
        text-transform: uppercase;
    }
    
    button:hover {
        background-color: #FFFFFF;
        border: 2px solid #316bd3;
        color: #316bd3;
    }
    
    &__difficulty-form {
        border: 1px solid rgb(197, 197, 197);
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 2rem auto 0;
        max-width: 30%;
        padding: 0;

        @media screen and (max-width: 1200px) {
            max-width: 40%;
        }

        @media screen and (max-width: 950px) {
            max-width: 50%;
        }

        @media screen and (max-width: 640px) {
            max-width: 75%;
        }
        
        @media screen and (max-width: 550px) {
            max-width: 80%;
        }

        &__container {
            display: inline-block;
            width: calc(100%/3);

            input[type="radio"]:checked + label {
                border: 1px solid #316bd3;
                border-radius: 0.5rem;
                color: #316bd3;
                font-weight: 700;
            }
            
            label {
                box-sizing: border-box;
                cursor: pointer;
                display: block;
                padding: 1rem 2rem;
                width: 100%;

                @media screen and (max-width: 550px) {
                    padding: 1rem 1rem;
                }

                &:hover {
                    border: 1px dashed #31add3;
                    border-radius: 0.5rem;
                    color: #31add3;
                    font-weight: 500;
                }
            }
        }
    }
}

input[type="radio"] {
    display: none;
}