@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.Scoreboard {
    h3 {
        font-family: "Lato", sans-serif;
        font-size: 1.5rem;
        margin: 1.5rem auto;
    }
}