@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.Scoreboard {
    &__subtitle {
        font-family: "Lato", sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        margin: 1rem auto;
    }
    
    &__score-display {
        font-family: "Lato", sans-serif;
        font-size: 1.5rem;
        margin: 1.5rem auto;
    }
}